.Testimonials{
    min-height: 100vh;
    background-color: var(--clr-lightGrey);
}


.TestimonialCards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    min-height: 30rem;
    /* background-color: blue; */
}
.card{
    background-color: white;
    min-height:15rem;
    width: 23rem;
    border-radius: 0.3rem;
    padding: 1.5rem;
}
.img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img img{
    border-radius: 50%;
    position: relative;
    height: 7rem;
    top: -5rem;
    border: 5px solid white;
    box-shadow: 1px 1px 40px 5px rgb(211, 211, 211);
}

.text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    top: -3rem;
    text-align: center;
}
.text h3{
    font-size: 1.5rem;
}
.text p{
    color: grey;
}